In [2]:
print('intro to Dataframe')

intro to Dataframe

In [43]:
# Datatypes in Dataframe
from pyspark.sql.types import StructField,StructType,StringType,IntegerType,DateType,ArrayType,MapType
from pyspark.sql.functions import current_date
schema=StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StringType(),True),
    # StructField('date',DateType(),True),
    StructField('mob_no',ArrayType(IntegerType()),True),
    StructField('eye_hair_color',MapType(StringType(),StringType()),True)
])

data=[
    (1,'chetan',[111,2222,3333,444],{'eye':'blue','hair':'red'}),
    (1,'chetan',[111,2222,3333,444],{'eye':'blue','hair':'red'}),
    (1,'chetan',[111,2222,3333,444],{'eye':'blue','hair':'red'}),(1,'chetan',[111,2222,3333,444],{'eye':'blue','hair':'red'})
]

df=spark.createDataFrame(data=data,schema=schema)
# df.printSchema()
# df.show()
# df.select(df.eye_hair_color.eye).show()
df.select(df.eye_hair_color['hair'].alias('hair color')).show()
df.select(df.mob_no[2]).show()

df.createOrReplaceTempView('emp')
spark.sql("select * from emp").show(truncate=False)

+----------+
|hair color|
+----------+
|       red|
|       red|
|       red|
|       red|
+----------+

+---------+
|mob_no[2]|
+---------+
|     3333|
|     3333|
|     3333|
|     3333|
+---------+

+---+------+----------------------+--------------------------+
|id |name  |mob_no                |eye_hair_color            |
+---+------+----------------------+--------------------------+
|1  |chetan|[111, 2222, 3333, 444]|{eye -> blue, hair -> red}|
|1  |chetan|[111, 2222, 3333, 444]|{eye -> blue, hair -> red}|
|1  |chetan|[111, 2222, 3333, 444]|{eye -> blue, hair -> red}|
|1  |chetan|[111, 2222, 3333, 444]|{eye -> blue, hair -> red}|
+---+------+----------------------+--------------------------+

In [ ]:
# spark.sql('''create table emp2(id INTEGER,name STRING)''')
# # spark.sql('select * from emp2')

In [93]:
# DataFrame rows
from pyspark.sql import Row

row=[Row(Name='chetan',Age=33),Row(Name='chetan',Age=33),Row(Name='chetan',Age=33)]
rdd=sc.parallelize(row)

df=spark.createDataFrame(row,schema='name1 string, ahe1 int')
df.printSchema()
df.count()

root
 |-- name1: string (nullable = true)
 |-- ahe1: integer (nullable = true)

3

In [62]:
'chetan' in row.Name
# row.Age

True

In [65]:
'Age' in row

True

In [256]:
df=spark.read.csv(path='RetailDB+SalesData/RetailDB SalesData/Orders/part-00000' ,schema='id int,col2 string, tid int,status string')
# print(df.head(3))
# print(df.tail(2))
# print(df.take(3)[1][2])
# print(df.take(3)[1])

print(df.take(11))
df.head()
df.tail(1)
df.show(4)
df.first()

[Row(id=1, col2='2013-07-25 00:00:00.0', tid=11599, status='CLOSED'), Row(id=2, col2='2013-07-25 00:00:00.0', tid=256, status='PENDING_PAYMENT'), Row(id=3, col2='2013-07-25 00:00:00.0', tid=12111, status='COMPLETE'), Row(id=4, col2='2013-07-25 00:00:00.0', tid=8827, status='CLOSED'), Row(id=5, col2='2013-07-25 00:00:00.0', tid=11318, status='COMPLETE'), Row(id=6, col2='2013-07-25 00:00:00.0', tid=7130, status='COMPLETE'), Row(id=7, col2='2013-07-25 00:00:00.0', tid=4530, status='COMPLETE'), Row(id=8, col2='2013-07-25 00:00:00.0', tid=2911, status='PROCESSING'), Row(id=9, col2='2013-07-25 00:00:00.0', tid=5657, status='PENDING_PAYMENT'), Row(id=10, col2='2013-07-25 00:00:00.0', tid=5648, status='PENDING_PAYMENT'), Row(id=11, col2='2013-07-25 00:00:00.0', tid=918, status='PAYMENT_REVIEW')]
+---+--------------------+-----+---------------+
| id|                col2|  tid|         status|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
|  4|2013-07-25 00:00:...| 8827|         CLOSED|
+---+--------------------+-----+---------------+
only showing top 4 rows

Row(id=1, col2='2013-07-25 00:00:00.0', tid=11599, status='CLOSED')

In [141]:
df.filter((df['id']) == 3).show()

+---+--------+-----+------+
| id|datetime|  tid|status|
+---+--------+-----+------+
|  3|    null|12111|  null|
+---+--------+-----+------+

In [ ]:
# Accessing spedific columns
df.select([df.id,df.tid]).show()
from pyspark.sql.functions import col
df.select(col("*")).show()

In [195]:
# df.select(df.status.asc()).show()
df.orderBy(df.status).select(df.status).distinct().show()
# df.select([1:2]).show()

+---------------+
|         status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [ ]:
# Cast function

In [183]:
# Interview Codes

# def test():
#     n=5

#     while True:
#         n+=1
#         yield n
#         if n>10:
#             return

# for i in test():
#     print(i , end=" ")

# def test():
#     try:
#         return 5/1
#     except e:
#         return "test"
#     finally:
#         return 100

# test()

6 7 8 9 10 11

100

In [258]:
# get the data of 2013 and completed orders.
# df.show(4)
# df.where(df.status == 'COMPLETE').show()
filt_data=df.where((df['col2'].substr(1,4) ==  '2013') & (df.status == 'COMPLETE'))
filt_data.count()
# df.dtypes

# help(df.status.substr)

10150