In [6]:
# Creating the pyspark dataframe from python list

lst=[('chetan',1),('veer',2),('raj',3)]
df=spark.createDataFrame(data=lst)
df.show()

+------+---+
|    _1| _2|
+------+---+
|chetan|  1|
|  veer|  2|
|   raj|  3|
+------+---+

In [21]:
lst=[('chetan',1),('veer',2),('raj',3)]
df=spark.createDataFrame(data=lst,schema=['Name','id'])
df.show()

+------+---+
|  Name| id|
+------+---+
|chetan|  1|
|  veer|  2|
|   raj|  3|
+------+---+

In [23]:
lst=[('chetan',1),('veer',2),('raj',3)]
df=spark.createDataFrame(data=lst,schema=('Name string,id int'))
df.show()

+------+---+
|  Name| id|
+------+---+
|chetan|  1|
|  veer|  2|
|   raj|  3|
+------+---+

In [24]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- id: integer (nullable = true)

In [37]:
# creating df from dictionary.

df=[{'name':'aman', 'age':33},{'name':'rao', 'age':33},{'name':'naman', 'age':33}]
df=spark.createDataFrame(data=df,schema=('Name string, id int'))

In [38]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- id: integer (nullable = true)

In [50]:
# Creating schema from rdd
lst=[('chetan',1),('veer',2),('raj',3)]
rdd=sc.parallelize(lst)
rdd.take(3)

df=spark.createDataFrame(data=rdd,schema='name string, id int')

df.show()

+------+---+
|  name| id|
+------+---+
|chetan|  1|
|  veer|  2|
|   raj|  3|
+------+---+

In [47]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- id: integer (nullable = true)

In [58]:
import pandas as pd
# print(dir(pd))
df=pd.DataFrame(data=lst)
df
type(df)
df=spark.createDataFrame(df)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# row in pyspark.

In [68]:
# spark.table  used to convert table from hive context to spark in form of dataframe.
lst=[('chetan',1),('veer',2),('raj',3)]
df=spark.createDataFrame(lst)
df.createOrReplaceTempView('lst')
a=spark.sql('select * from lst')
type(a)

df=spark.table('lst')
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# udf in spark

# You can use udf in dataframe as well as sparksql just you have to register it in sparksql and wrap it in @udf in dataframe.