In [1]:
print('reading files is udf. it is an interface used to load different types of files in pyspark or load df from external storage systems')

reading files is udf

In [21]:
print(' types of files in spark are csv, text, orc parquet, json, hive table, jdbc table, avro')
print('if we dont give any schma it will consider all columns are considerred as string if we give inferchema as true it will try to \
inferschema from the data. sep is used to specidy separator. header will make first record as the header')

 types of files in spark are csv, text, orc parquet, json, hive table, jdbc table, avro
if we dont give any schma it will consider all columns are considerred as string if we give inferchema as true it will try to inferschema from the data. sep is used to specidy separator.

In [ ]:
# read-csv
csv_file=spark.read.load(path='RetailDB+SalesData/RetailDB SalesData/Order_items/part-00000',format='csv',schema='id int,oid int, price int,quantity int,subtotal int,total int')
csv_file.show()

In [ ]:
# read-csv
csv_file=spark.read.csv(path='RetailDB+SalesData/RetailDB SalesData/Order_items/part-00000',schema='id int,oid int, price int,quantity int,subtotal int,total int')
csv_file.show()

In [13]:
csv_file.printSchema()

root
 |-- id: integer (nullable = true)
 |-- oid: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- subtotal: integer (nullable = true)
 |-- total: integer (nullable = true)

In [26]:
# read text (contains only one column with all rows if wholetext=True onlu one row full filw)
text_file=spark.read.load(path='RetailDB+SalesData/RetailDB SalesData/Order_items/part-00000',format='text')
text_file.show(truncate=False)

+-------------------------+
|value                    |
+-------------------------+
|1,1,957,1,299.98,299.98  |
|2,2,1073,1,199.99,199.99 |
|3,2,502,5,250.0,50.0     |
|4,2,403,1,129.99,129.99  |
|5,4,897,2,49.98,24.99    |
|6,4,365,5,299.95,59.99   |
|7,4,502,3,150.0,50.0     |
|8,4,1014,4,199.92,49.98  |
|9,5,957,1,299.98,299.98  |
|10,5,365,5,299.95,59.99  |
|11,5,1014,2,99.96,49.98  |
|12,5,957,1,299.98,299.98 |
|13,5,403,1,129.99,129.99 |
|14,7,1073,1,199.99,199.99|
|15,7,957,1,299.98,299.98 |
|16,7,926,5,79.95,15.99   |
|17,8,365,3,179.97,59.99  |
|18,8,365,5,299.95,59.99  |
|19,8,1014,4,199.92,49.98 |
|20,8,502,1,50.0,50.0     |
+-------------------------+
only showing top 20 rows

In [ ]:
# read orc and parquet file (both are columnar file foemats and are used to the reading quickly and avro is used for writing it is row based\
# file format)

orc_file=spark.read.load(path='files/orc-file-11-format.orc',format='orc')
orc_file.show(1)
orc_file.printSchema()

orc_file.select("boolean1", "byte1", "int1").show()

orc_file.printSchema()

In [ ]:
# read  parquet file
# help(spark.read.parquet)
par_file=spark.read.load(path='files/sample1.parquet',format='parquet')
par_file.show()
par_file.printSchema()

In [ ]:
# read  avro file
# help(spark.read.parquet)
par_file=spark.read.load(path='files/Sample-Avro-Schema',format='avro')
par_file.show()
par_file.printSchema()

In [ ]:
# we can in the samw way load hive table jdbd table with oracle sql server, redshift dw, etc.

In [81]:
# Catalog
# help(spark.catalog.currentDatabase)
spark.catalog.currentDatabase()

'default'